img {
    max-height: 100px;
    max-width: 100%;
}

mat-form-field {
    width: 100%;
}

input[type="file"] {
    display: none;
}

button.close {
    position: absolute;
    top: 0;
    right: 0;
}

div.img-container {
    position: relative;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

.error-message {
    color: red;
}

p{
    font: 500 14px Roboto,"Helvetica Neue",sans-serif;
}